{% extends "layoutForm.html" %}

{% block title %} Olvidaste tu contraseña {% endblock %}

{% block content %}
<div class="container">
    <a href="/login">
        <button type="button" class="btn2 btn-primary" style="margin-bottom: 3%;"><i class="uil uil-estate"></i>
            Volver</button>
    </a>
    <div class="forms" style="margin-top: auto;">
        <div class="form login">
            <span class="title">Olvidaste tu contraseña</span>

            <form action="{{ url_for('forgotPassword') }}" method="post">
                <div class="input-field">
                    <input type="text" name="email" placeholder="Email ?" id="email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Enviar">
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            style="margin-top: 3%; font-size: 90%;">
                            <i class="uil uil-exclamation-circle" style="color: red;"></i><strong> ¡Error!</strong> 
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
