{% extends "layoutUser.html" %}

{% block title %} Biblioteca Enrique Dussel {% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'succesServiceRating' %}
<div class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
    <i class="uil uil-check-circle" style="color: green; font-size: 100%;"></i><strong> ¡Éxito!</strong>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}





<div class="row2" style="margin-top: 0.1%;">
    <div class="content">
        <h3>Biblioteca Pública Municipal</h3>
        <h2>Enrique Dussel</h2>
        <a href="/exploreBooksUser" id="login-btn" class="btn4"><i class="uil uil-books"></i>Explorar Libros</a>
    </div>
</div>


<h3 class="heading"> <span>Contamos con</span> </h3>
<section class="icons-container">
    <div class="row" style="margin-left: 3%;">
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-book-alt"></i>
            <div class="content">
                <h3>Ámplia variedad</h3>
                <p>+7000 Libros para tí</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-dice-five"></i>
            <div class="content">
                <h3>Juegos didácticos</h3>
                <p>+50 Juegos para tí</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-snowflake"></i>
            <div class="content">
                <h3>Ambiente climatizado</h3>
                <p>A/AC Frío - Calor</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-book-reader"></i>
            <div class="content">
                <h3>Los 365 días del año</h3>
                <p>Te esperamos !</p>
            </div>
        </div>
    </div>
</section>



<div class="puntoDigital">
    <img src="/static/images/logofacebook.png" alt="" class="img-puntoDigital">
    <a href="https://www.facebook.com/tu_pagina" class="btn-visitar">¡Visita nuestra página!</a>
</div>





<!--  SERVICE CLASSIFICATION  -->
<div class="container-fluid custom-bg text-white" style="margin-top: 7%;">
    <div class="alert text-center" role="alert" style="margin-left: 2.2%;">
        <h4 class="alert-heading" style="font-size: 1.3rem;">¿Quieres calificar nuestra atención?</h4>
    </div>
    <form action="/emailServiceRating" method="post" class="d-flex justify-content-center mt-3"
        style="margin-left: 2.2%;">
        <div class="input-group mb-3" style="max-width: 300px;">
            <input type="email" class="form-control" name="emailServiceRating" placeholder="Email ?" required>
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
    </form>
    <span style="font-size: small; color: #b4b8bb; margin-left: 2.2%; font-weight: 400;">REQUISITOS: Ser Socio con documentación
        ENTREGADA</span>
</div>




<h1 class="heading2"> <span>Nuestros libros</span> </h1>

<a href="/exploreBooksUser" class="btn5">Explorar más Libros <i class="uil uil-books"></i></a>


<div class="swiper mySwiper">

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book1.png" alt="">
                <a href="/exploreBooksUser" class="btnCardHome" style="margin-top: 18%;">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book2.jpg" alt="">
                <a href="/exploreBooksUser" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book3.jpg" alt="">
                <a href="/exploreBooksUser" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book4.jpg" alt="">
                <a href="/exploreBooksUser" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book5.png" alt="">
                <a href="/exploreBooksUser" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book6.jpg" alt="">
                <a href="/exploreBooksUser" class="btnCardHome">Ver más</a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>


<div class="newsletter">
    <form action="">
        <h4 style="color: #FFC728; margin-bottom: -1.5%; margin-top: 2.8%">¡Si quieres aventuras,</h4>
        <h5 style="color: #FFC728;"> lánzate a la lectura!</h5>
        <h2 style="color: #00000000; margin-bottom: 2%;"></h2>
    </form>
</div>



<style>
    .btnCardHome {
        display: block;
        text-decoration: none;
        margin-block-start: 15%;
        margin-block-end: 2%;
        margin-left: auto;
        margin-right: auto;
        padding-block: .35rem;
        border-radius: .7rem;
        width: 75%;
        color: #214042;
        background: #bbb3b3d2;
        font-size: 87%;
        cursor: pointer;
        font-weight: 450;
    }

    .btnCardHome:hover {
        color: #eeeeee;
        background: #214042;
    }

    .custom-bg {
        background-image: linear-gradient(to left top, #0c6b61, #005b58, #004b4d, #003c41, #032d34);
        height: 227px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .custom-bg .alert {
        margin-bottom: -1px;
    }

    .custom-alert {
        position: fixed;
        right: 0;
        margin-top: 6%;
        font-size: 77%;
        z-index: 9000;
        width: 330px;
        align-items: right;
    }
</style>


<nav class="navbar">
    <div class="header-2">
        <ul>
            <p class="nameUser">Menú</p>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="/InicioUser">
                    <span class="icon">
                        <i class="uil uil-estate"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/exploreBooksUser">
                    <span class="icon">
                        <i class="uil uil-books"></i>
                    </span>
                    <span href="/exploreBooksUser" class="title">Explorar Libros</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/aboutOn">
                    <span class="icon">
                        <i class="uil uil-question-circle"></i>
                    </span>
                    <span href="/aboutOn" class="title">Acerca de</span>
                </a>
            </li>
            <hr
                style="border: 1.8px solid #EEE7CE; border-radius: 2px; opacity: 1; width: 90%; margin-left: -2%; box-shadow: 0 0 2px rgb(0, 0, 0);">
        </ul>
    </div>
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
</nav>

<script type="text/javascript">
    let menuToggle = document.querySelector('.navbar .toggle')
    let Navigation = document.querySelector('.navbar .header-2')
    menuToggle.onclick = function () {
        menuToggle.classList.toggle('active')
        Navigation.classList.toggle('active')
    }

    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
                list[j++].className = 'list'
            }
            list[i].className = 'list active';
        }
    }
</script>
{% endblock %}