{% extends "layoutPublic.html" %}

{% block title %} Biblioteca Enrique Dussel {% endblock %}


{% block content %}

<div class="row2" style="margin-top: 0.1%;">
    <div class="content">
        <h3>Biblioteca Pública Municipal</h3>
        <h2>Enrique Dussel</h2>
        <a href="/exploreBooksPublic" id="login-btn" class="btn4"><i class="uil uil-books"></i>Explorar Libros</a>
    </div>
</div>


<h3 class="heading"> <span>Contamos con</span> </h3>
<section class="icons-container">
    <div class="row" style="margin-left: 3%;">
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-book-alt"></i>
            <div class="content">
                <h3>Ámplia variedad</h3>
                <p>+7000 Libros para tí</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-dice-five"></i>
            <div class="content">
                <h3>Juegos didácticos</h3>
                <p>+50 Juegos para tí</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-snowflake"></i>
            <div class="content">
                <h3>Ambiente climatizado</h3>
                <p>A/AC Frío - Calor</p>
            </div>
        </div>
        <div class="icons col-lg-3 col-md-6 col-12 d-flex flex-column align-items-md-start">
            <i class="uil uil-book-reader"></i>
            <div class="content">
                <h3>Los 365 días del año</h3>
                <p>Te esperamos !</p>
            </div>
        </div>
    </div>
</section>



<!-- <div class="puntoDigital">
    <img src="/static/images/puntoDigital.png" alt="" style="border-radius: 15px; max-width: 100%; height: auto;">
</div> -->

<div class="puntoDigital">
    <img src="/static/images/logofacebook.png" alt="" class="img-puntoDigital">
    <a href="https://www.facebook.com/tu_pagina" class="btn-visitar">¡Visita nuestra página!</a>
</div>
  




<h1 class="heading2"> <span>Nuestros libros</span> </h1>

<a href="/exploreBooksPublic" class="btn5">Explorar más Libros <i class="uil uil-books"></i></a>


<div class="swiper mySwiper">

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book1.png" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome" style="margin-top: 18%;">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book2.jpg" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book3.jpg" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book4.jpg" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book5.png" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome">Ver más</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <img src="/static/images/book6.jpg" alt="">
                <a href="/exploreBooksPublic" class="btnCardHome">Ver más</a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>


<div class="newsletter">

    <form action="">
        <h3>¿Queres ser parte de nuestra Biblioteca Enrique Dussel?</h3>
        <h2>Registrate para ser socio</h2>
        <a href="/selectionAge" class="btn1">REGISTRARME</a>
    </form>

</div>







<nav class="navbar">
    <div class="header-2">
        <ul>
            <p class="nameUser">Menú</p>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="/">
                    <span class="icon">
                        <i class="uil uil-estate"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/exploreBooksPublic">
                    <span class="icon">
                        <i class="uil uil-books"></i>
                    </span>
                    <span href="/exploreBooksPublic" class="title">Explorar Libros</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/aboutOnPublic">
                    <span class="icon">
                        <i class="uil uil-question-circle"></i>
                    </span>
                    <span href="/aboutOnPublic" class="title">Acerca de</span>
                </a>
            </li>
            <hr
                style="border: 1.8px solid #EEE7CE; border-radius: 2px; opacity: 1; width: 90%; margin-left: -2%; box-shadow: 0 0 2px rgb(0, 0, 0);">
        </ul>
    </div>
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
</nav>

<!-- <div class="loader-container">
    <img src="/static/images/loader-img.gif" alt="">
</div> -->

<style>
    .btnCardHome {
        display: block;
        text-decoration: none;
        margin-block-start: 15%;
        margin-block-end: 2%;
        margin-left: auto;
        margin-right: auto;
        padding-block: .35rem;
        border-radius: .7rem;
        width: 75%;
        color: #214042;
        background: #bbb3b3d2;
        font-size: 87%;
        cursor: pointer;
        font-weight: 450;
    }


    .btnCardHome:hover{
        color: #eeeeee;
        background: #214042;
    }
</style>







<script type="text/javascript">
    let menuToggle = document.querySelector('.navbar .toggle')
    let Navigation = document.querySelector('.navbar .header-2')
    menuToggle.onclick = function () {
        menuToggle.classList.toggle('active')
        Navigation.classList.toggle('active')
    }

    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
                list[j++].className = 'list'
            }
            list[i].className = 'list active';
        }
    }
</script>
{% endblock %}