<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="/static/images/iconpage.png" />
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- DataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body class="grid-container">
    <!----------- ENCABEZADO ----------->
    <header class="header d-flex justify-content-between align-items-center">
        <div class="me-auto p-2 mt-1">
            <a class="logo" href="/InicioLibrarian"><img src="/static/images/iconpageHeader.png" alt="Icono de Libro"> Biblioteca Dussel</a>
        </div>
        <div class="p-2 mt-1">
            <a href="/exploreBooksLibrarian" class="logoLupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div class="p-2 mt-1">
            <div class="loggedin">
                <div class="wrapper">
                    <div class="right-menu" style="margin-left: -100%; margin-top: -13%;">
                        <button class="menu-button"><i class="uil uil-user" style="font-size: 85%;"></i></button>
                        <div class="dropdown-menu" style="font-size: 80%; margin-left: -430%;">
                            <a href="/logout"><i class="uil uil-sign-in-alt"
                                    style="font-size: 140%; margin-right: 5%;"></i>Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="container__menu">
                <div class="menu">
                    <i class="uil uil-bars" id="btn_menu"></i>
                    <div id="back_menu"></div>
                    <nav id="nav">
                        <ul>
                            <li><a href="/InicioLibrarian"><i class="uil uil-estate"></i> Inicio</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/exploreBooksLibrarian"><i class="uil uil-books"></i> Explorar Libros</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/aboutOnLibrarian"><i class="uil uil-question-circle"></i> Acerca de</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/showMembers"><i class="uil uil-user-plus"></i> Socios</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/showPrestamo"><i class="uil uil-book-reader"></i> Prestamos</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/showDevolution"><i class="uil uil-clock"></i> Devoluciones</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color"
                                style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/logout"><i class="uil uil-sign-in-alt"></i> Cerrar sesión</a></li>                                
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!----------- CONTENIDO PRINCIPAL ----------->
    <article class="main">

        {% block content %}

        {% endblock %}

    </article>


    <!----------- PIE DE PÁGINA ----------->
    <footer class="footer">
        <div class="grupo-1">
            <div class="box">
                <div class="linkPages">
                    <h2 style="margin-bottom: 2%;">BIBLIOTECA DUSSEL</h2>
                    <a href="/homeLibrarian" class="title1">Inicio |</a>
                    <a href="/exploreBooksLibrarian" class="title2">Explorar Libros |</a>
                    <a href="/aboutOnLibrarian" class="title3">Acerca de</a>
                </div>
            </div>

            <div class="box">
                <div class="social">
                    <div class="red-social">
                        <button type="button" class="btn btn-outline-info" title="Guía"
                            style="padding: 2.5px 9px 2.2px 9px; border-radius: .25rem; background-color: #0fa2b936; color: #ffffff; font-size: 100%; display: flex;"><i
                                class="uil uil-question-circle" style="color: #ffffff; font-size: 90%;"></i><a
                                href="https://sites.google.com/view/manualbibliotecaedussel" style="text-decoration: none; margin-left: 5px; margin-top: 1.5%; color: #ffffff;">Manual de uso</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Biblioteca Enrique Dussel</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/static/js/script.js"></script>

</body>
</html>