<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="/static/images/iconpage.png" />
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body class="grid-container">
    <!----------- ENCABEZADO ----------->
    <header class="header d-flex justify-content-between align-items-center">
        <div class="me-auto p-2 mt-1">
            <a class="logo" href="/"><img src="/static/images/iconpageHeader.png" alt="Icono de Libro"> Biblioteca</a>
        </div>
        <div class="p-2 mt-1">
            <a href="/exploreBooksPublic" class="logoLupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div class="p-2 boton mt-1">
            <a class="btn btn-warning" href="/login" role="button">Acceder</a>
        </div>                      
        <div class="p-2">
            <div class="container__menu">
                <div class="menu">
                    <i class="uil uil-bars" id="btn_menu"></i>
                    <div id="back_menu"></div>
                    <nav id="nav">
                        <ul>
                            <li><a href="/login"><i class="uil uil-signin"></i>  Acceder</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color" style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/"><i class="uil uil-estate"></i>  Inicio</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color" style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/exploreBooksPublic"><i class="uil uil-books"></i>  Explorar Libros</a></li>
                            <hr class="bg-danger border-1.8 border-top border-color" style="margin-bottom: -10%; width: 120%; margin-left: -18%;">
                            <li><a href="/aboutOnPublic"><i class="uil uil-question-circle"></i>  Acerca de</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!----------- CONTENIDO PRINCIPAL ----------->
    <article class="main">

        {% block content %}

        {% endblock %}

    </article>


    <!----------- PIE DE PÁGINA ----------->
    <footer class="footer">
        <div class="items d-flex flex-sm-row flex-column justify-content-between align-items-center">
            <div class="block-item1">
                <i class="uil uil-envelope" style="font-size: 250%; color: #248d8d;"></i>
                <div class="sub-head">Email</div>
                <a href="mailto:lafidela9005@gmail.com" class="desc"
                    style="font-size: 66%;">lafidela9005@gmail.com</a>
            </div>
            <div class="block-item2">
                <i class="uil uil-clock" style="font-size: 250%; color: #f5b914;"></i>
                <div class="sub-head">Horarios</div>
                <a href="/aboutOnPublic" class="desc" style="font-size: 75%;">Horarios de atención</a>
            </div>
            <div class="block-item3">
                <i class="uil uil-location-point" style="font-size: 250%; color: #D90E40;"></i>
                <div class="sub-head">Visitanos</div>
                <a href="https://maps.app.goo.gl/D2A5evYfA6Frgq3v6" class="desc" style="font-size: 75%;">Ubicación
                    Biblioteca</a>
            </div>
        </div>
        <hr class="bg-danger border-1 border-top border-color" style="margin-bottom: -1.5%;">

        <div class="grupo-1">
            <div class="box">
                <div class="linkPages">
                    <h2 style="margin-bottom: 2%;">BIBLIOTECA F. AMPARAN</h2>
                    <a href="/" class="title1">Inicio |</a>
                    <a href="/exploreBooksPublic" class="title2">Explorar Libros |</a>
                    <a href="/aboutOnPublic" class="title3">Acerca de</a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; {{yearNow}} <b>Biblioteca Fidela Amparan</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/static/js/script.js"></script>
</body>

</html>