{% extends "layoutForm.html" %}


{% block title %} Nueva contraseña {% endblock %}


{% block content %}

<div class="container">
    <a href="/login">
        <button type="button" class="btn2 btn-primary" style="margin-bottom: 3%;"><i class="uil uil-estate"></i>
            Volver</button>
    </a>
    <div class="forms" style="margin-top: auto;">
        <div class="form login">
            <span class="title">Nueva contraseña</span>

            <form action="{{ url_for('setNewPassword') }}" method="post">
                <div class="input-field">
                    <input type="password" id="password" name="new_password" placeholder="Contraseña ?" required>
                    <button type="button" class="btn btn-link password-toggle" style="margin-left: 86%;"><i
                            class="uil uil-eye"></i></button>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var passwordToggle = document.querySelector('.password-toggle');
    var passwordField = document.querySelector('#password');

    passwordToggle.addEventListener('click', function () {
        var type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        this.querySelector('i').classList.toggle('uil-eye');
        this.querySelector('i').classList.toggle('uil-eye-slash');
    });
</script>
{% endblock %}