{% extends "layoutLibrarian.html" %}


{% block title %} Listado de Bibliotecarias {% endblock %}


{% block content %}
<script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
<nav class="navbar">
    <div class="header-2">
        <ul>
            <p class="nameUser">Menú</p>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/InicioLibrarian">
                    <span class="icon">
                        <i class="uil uil-estate"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/exploreBooksLibrarian">
                    <span class="icon">
                        <i class="uil uil-books"></i>
                    </span>
                    <span href="/exploreBooksLibrarian" class="title">Explorar Libros</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/aboutOnLibrarian">
                    <span class="icon">
                        <i class="uil uil-question-circle"></i>
                    </span>
                    <span href="/aboutOnLibrarian" class="title">Acerca de</span>
                </a>
            </li>
            <hr
                style="border: 2px solid #EEE7CE; border-radius: 2px; opacity: 1; width: 90%; margin-left: -2%; box-shadow: 0 0 2px rgb(0, 0, 0);">
            <!-----------------   FUNCTIONS LIBRARYAN   ----------------->
            <li class="list">
                <b></b>
                <b></b>
                <a href="/showMembers">
                    <span class="icon">
                        <i class="uil uil-user-plus" style="margin-left: 8%;"></i>
                    </span>
                    <span class="title">Socios</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/showPrestamo">
                    <span class="icon">
                        <i class="uil uil-book-reader"></i>
                    </span>
                    <span class="title">Prestamos</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/showDevolution">
                    <span class="icon">
                        <i class="uil uil-clock"></i>
                    </span>
                    <span class="title">Devoluciones</span>
                </a>
            </li>
            {% if user_rol in ["SU", "LIB_MNGA"] %}
            <li class="list active">
                <b></b>
                <b></b>
                <a href="/managmentMenu">
                    <span class="icon">
                        <i class="uil uil-folder-lock"></i>
                    </span>
                    <span class="title">Administración</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
</nav>


<!-- Contenido -->
<div style="width: 91.5%; margin-left: 8.3%; color: #EEE7CE; margin-bottom: 1%;">
    <h6 class="titlePage">Gestión de Bibliotecarias</h6>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'succesAccount' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert"
        style="width: 29%; font-size: 79%; margin-top: -2%;">
        <i class="uil uil-check-circle" style="color: green; font-size: 110%;"></i><strong> ¡Éxito!</strong> {{ message
        }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            style="margin-top: -0.9%;"></button>
    </div>
    {% endif %}

    {% if category == 'suspendAccount' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="width: 29%; font-size: 79%; margin-top: -2%;">
        <i class="uil uil-check-circle" style="color: orangered; font-size: 110%;"></i><strong> ¡Éxito!</strong>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            style="margin-top: -0.9%;"></button>
    </div>
    {% endif %}

    {% if category == 'librarianEdit' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert"
        style="width: 29%; font-size: 79%; margin-top: -2%;">
        <i class="uil uil-check-circle" style="color: blue; font-size: 110%;"></i><strong> ¡Éxito!</strong>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            style="margin-top: -0.9%;"></button>
    </div>
    {% endif %}


    {% endfor %}
    {% endif %}
    {% endwith %}


    <table id="" class="display3 table table-striped" cellspacing="1" cellpadding="1" width="100%"
        style="background-color: #e0e0e0; border: 0.1px solid #ffffff; border-radius: .40rem; color: rgb(0, 0, 0);">
        <thead style="border-radius: 30%;">
            <tr style="color: #FFC728; background-color: #315c53; font-size: 72%;">
                <th style="width: 0.1%; text-align: center; font-weight: 450;">#</th>
                <th style="width: 8%; text-align: center; font-weight: 450;">Nombre</th>
                <th style="width: 8%; text-align: center; font-weight: 450;">Appellido</th>
                <th style="width: 10%; text-align: center; font-weight: 450;">Email</th>
                <th style="width: 2%; text-align: center; font-weight: 450;">Celular</th>
                <th style="width: 5%; text-align: center; font-weight: 450;">Rol</th>
                <th style="width: 4%; text-align: center; font-weight: 450;">Cuenta</th>
                <th style="width: 0.1%; text-align: center; font-weight: 450;">Acciones</th>
            </tr>
        </thead>
        <tbody style="font-size: 67.5%; font-weight: 590;">
            {% for librarian in librarians %}
            <tr style="border-color: rgb(155, 155, 155);">
                <td data-label="#">{{loop.index}}</td>
                <td data-label="Nombre" style="text-align: left;">{{librarian.1}}</td>
                <td data-label="Apellido" style="text-align: left;">{{librarian.2}}</td>
                <td data-label="Email" style="text-align: left;">{{librarian.0}}</td>
                <td data-label="Celular" style="text-align: left;">{{librarian.4}}</td>
                <td data-label="Rol" style="text-align: left;">
                    {% if librarian.5 == "LIB_AUX" %}
                    <p class="card-text" style="color: rgb(0, 68, 124); margin: 0;">BIBLIOTECARIA AUXILIAR</p>
                    {% elif librarian.5 == "LIB" %}
                    <p class="card-text" style="color: rgb(0, 0, 0); margin: 0;">BIBLIOTECARIA</p>
                    {% endif %}
                </td>
                <td data-label="Cuenta" style="text-align: left;">
                    {% if librarian.6 == "ACTIVA" %}
                    <p class="card-text" style="color: green;">{{librarian.6}}</p>
                    {% elif librarian.6 == "SUSPENDIDA" %}
                    <p class="card-text" style="color: orangered;">{{librarian.6}}</p>
                    {% endif %}
                </td>
                <td data-label="Acciones" style="text-align: left;">
                    <a href="/updateLibrarian/{{librarian.0}}" style="display: inline-block;">
                        <button type="button" class="btnMember btn-info" style="width: auto;"
                            title="Editar Bibliotecaria"><i class="uil uil-pen"></i></button>
                    </a>

                    {% if librarian.6 == "ACTIVA" %}
                    <form action="/suspendLibrarian/{{librarian.0}}" method="post" style="display: inline-block;">
                        <button type="submit" class="btnMemberDelete" style="width: auto;"
                            title="Suspender Cuenta {{librarian.0}}"><i class="uil uil-trash"></i></button>
                    </form>
                    {% elif librarian.6 == "SUSPENDIDA" %}
                    <form action="/recoverLibrarian/{{librarian.0}}" method="post" style="display: inline-block;">
                        <button type="submit" class="btnMemberDelete" style="width: auto; background-color: #2C3B49;"
                            title="Recuperar Cuenta {{librarian.0}}"><i class="uil uil-sync"></i></button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .titlePage {
        background-color: #315c53;
        margin-bottom: 2.7%;
        padding: 7.7px 0px 6px 0px;
        width: 20%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: .45rem;
        font-size: 95%;
        font-weight: 440;
    }

    #boton-nuevo {
        margin-left: -3%;
        position: absolute;
        justify-content: end;
        background-color: #0FA3B9;
    }

    #boton-nuevo:hover {
        border-color: #058ea3;
        background-color: #058ea3;
    } 
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("table.display3 tfoot th").each(function () {
            var title = $(this).text();
        });
        var table = $("table.display3").DataTable({
            "dom": 'B<"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
                "searchPlaceholder": "Buscar una bibliotecaria"
            },
            autoWidth: false,
        });


        $("table.display3 thead").on("keyup", "input", function () {
            table.column($(this).parent().index())
                .search(this.value)
                .draw();
        });
    });

    let menuToggle = document.querySelector('.navbar .toggle')
    let Navigation = document.querySelector('.navbar .header-2')
    menuToggle.onclick = function () {
        menuToggle.classList.toggle('active')
        Navigation.classList.toggle('active')
    }

    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
                list[j++].className = 'list'
            }
            list[i].className = 'list active';
        }
    }
</script>
{% endblock %}